.Resume {
  display: flex;
  flex-flow: row;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #00000020;
  gap: 20px;
}
.Resume .Col1 {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.Resume .Col1 img {
  width: 80px;
  height: 80px;
  padding: 2px;
  border: 2px solid #5660f2;
  border-radius: 5px;
}
.Resume .Col2 {
  display: flex;
  flex-flow: column;
  flex: 11;
}
.Resume .Col2 .Title {
  font-family: "Vazir Bold";
  font-size: 18px;
  color: #5660f2;
}
.Resume .Col2 span {
  font-size: 14px;
  color: #5c6573;
}
.Resume .Col2 .StatusContainer {
  display: flex;
  flex-flow: row;
  justify-content: end;
}
.Resume .Col2 .StatusContainer span {
    padding: 10px 30px;
    border: 1px solid #5660f2;
    border-radius: 5px;
    color: #5660f2;
    
}
