.Post {
  display: flex;
  width: 80%;
  flex-flow: column;
  padding: 20px 0;
}
.Post-Title {
  font-family: "Vazir Bold";
  font-size: 24px;
}
.Post-Author {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d;
}
.Post-Author a {
  display: inline-block;
  margin-right: 4px;
  color: #6c757d;
  text-decoration: none;
}
.Post-Cover {
  margin-top: 20px;
  object-fit: fill;
}
.Post-Footer {
  display: flex;
  flex-flow: row;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}
.Post-Categories {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.Post-Tag {
  font-size: 28px;
  color: #6c757d;
}
.Post-Categories span {
  margin-right: 5px;
  font-family: "Vazir Bold";
  font-size: 20px;
}
.Post-Categories a {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 10px;
  font-size: 14px;
  color: #6c757d;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
.Post-SharenComment {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #6c757d;
  gap: 20px;
}
.Post-SharenComment a {
  display: inline-block;
  color: #6c757d;
  text-decoration: none;
}
.Post-SharenComment .Icon {
  font-size: 16px;
}
.Post-SharenComment span {
  margin-right: 5px;
  font-size: 14px;
}
.Post-Share {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.Post-CommentCount {
  display: flex;
  flex-flow: row;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .Post {
    width: 100%;
  }
  .Post-Footer {
    flex-flow: column;
  }
  .Post-SharenComment {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .Post-SharenComment {
    margin-top: 10px;
    width: fit-content;
    flex-flow: column;
    gap: 5px;
  }
}
