.PostBox {
  display: flex;
  width: 250px;
  flex-flow: column;
  border-radius: 10px;
  box-shadow: 0 0 5px #0000001a;
  background-Color: #fff;
}
.PostBox .Cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.PostBox .Cover a {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.PostBox .Cover a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.PostBox .Content {
  padding: 15px 10px;
  color: #5c6573;
  text-align: justify;
}
.PostBox .Title {
  height: 64px;
}
.PostBox .Title a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: "Vazir Bold";
  font-size: 14px;

  line-height: 20px;
}
.PostBox .Description {
  height: 90px;
  margin-top: 5px;
  font-size: 14px;
}
.PostBox .BtnContainer {
  width: 100%;
  height: 42px;
  margin-top: 5px;
  text-align: left;
}
.PostBox .ReadMoreBtn {
  display: inline-block;
  text-decoration: none;
  background-Color: #fff;
  color: #5660f2;
  border: 1px solid #5660f2;
  border-radius: 4px;
  padding: 8px 32px;
  font-size: 14px;
  transition: all 0.2s;
}
.PostBox .ReadMoreBtn:hover {
  background-Color: #5660f2;
  color: #fff;
}
.PostBox-Author {
  display: block;
  margin-top: 20px;
  font-size: 12px;
}
.PostBox-Author a {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  transition: all 0.2s;
}
.PostBox-Author a:hover {
  color: #5660f2;
}
.PostBox .Footer {
  display: flex;
  flex-flow: row;
  justify-Content: space-between;
  align-items: center;
  margin-top: 5px;
}
.PostBox .Date {
  font-size: 12px;
}
.PostBox .Comments {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.PostBox .CommenttIcon {
  font-size: 14px;
}
.PostBox .CommentsCount {
  margin-right: 5px;
  font-size: 12px;
}
