.services-bg {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  height: fit-content;
}
.services-container {
  width: 80%;
  display: flex;
  flex-flow: column;
}
.services-title {
  font-size: 24px;
  font-family: "Vazir Black";
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}
.services-first-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 15%;
  gap: 100px;
  position: relative;
  z-index: 3;
}
.services-second-row {
  border: 3px solid #eef0f4;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-right: none;
  width: 85%;
  display: flex;
  flex-flow: row;
  margin-top: 20px;
  padding: 20px;
  margin-right: 130px;
  gap: 100px;
  padding-right: 0;
  padding-left: 30px;
  border-bottom-right-radius: 60px;
  position: relative;
  z-index: 2;
}
.services-third-row {
  border: 3px solid #eef0f4;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-left: none;
  border-top: none;
  width: 90%;
  display: flex;
  flex-flow: row;
  padding: 20px;
  margin-right: 130px;
  gap: 100px;
  padding-right: 115px;
  padding-left: 0;
  position: relative;
  z-index: 1;
}
.services-arrow {
  position: absolute;
  color: #eef0f4;
  font-size: 60px;
}
.services-first-row-icon {
  bottom: -51px;
  right: 45%;
}
.services-second-row-icon1 {
  left: -31px;
  top: 35%;
}
.services-second-row-icon2 {
  right: 45%;
  bottom: -31px;
}
.services-third-row-icon1 {
  right: -31px;
  top: 35%;
}
.services-third-row-icon2 {
  right: 45%;
  bottom: -31px;
}
.services-line {
  display: none;
  height: 100%;
  border-right: 5px solid #eef0f4;
  z-index: 0;
  position: absolute;
  top: 160px;
  right: 13%;
}

@media screen and (max-width: 992px) {
  .services-first-row {
    gap: 0;
  }
  .services-second-row {
    border: none;
    border-radius: none;
    width: 80%;
    margin-right: 0;
    padding: 0;
    gap: 0;
  }
  .services-third-row {
    border: none;
    border-radius: none;
    width: 80%;
    margin-right: 0;
    padding: 0;
    margin-top: 20px;
    gap: 0;
  }
  .services-arrow {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .services-first-row {
    flex-flow: column;
    gap: 0;
    margin-top: 0;
  }
  .services-second-row {
    flex-flow: column;
    gap: 0;
    margin-top: 0;
  }
  .services-third-row {
    flex-flow: column;
    gap: 0;
    margin-top: 0;
  }
  .services-line {
    display: inherit;
  }
}
